// NOTE: updating this file's variables should also be
// updated at `tokens.ts` in `src/styles`.
// NOTE: change only the values of themeColors

$main-bg: #e1e1e1;
$main-color: #242424;
$secondary-color: #333;
$accent-color: #6a6969;

// UI TEXT SELECTION COLOR
$ui-text-selection-color: #aec3d65d;

// UI SPACING VARIABLES
@mixin main-app-padding {
  padding: 0 80px;

  @media screen and (max-width: 600px) {
    padding: 0 30px;
  }
} ;
