$main-bg: #F4F4F4;
$main-color: #7C99AC;
$secondary-color: #92A9BD;
$light-secondary-color: #768DA1;
$accent-color: #FFEFEF;
$light-accent: #AEC3D6;
$secondary-accent-color: #D3DEDC;

// UI TEXT SELECTION COLOR
$ui-text-selection-color: #aec3d65d;

// UI SPACING VARIABLES
@mixin main-app-padding {
    padding: 50px 80px;

    @media screen and (max-width: 600px) {
        padding: 20px 30px;
    }
};