@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import "./styles/variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

*::selection {
  background-color: var(--ui-text-selection-color);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 900;
  color: var(--secondary-color);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--secondary-color);
}

p {
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}
